@page "/contacts/create"
@using Microsoft.EntityFrameworkCore
@using BlazorWebApp01.Models
@inject IDbContextFactory<BlazorWebApp01.Data.BlazorWebApp01Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Contact</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Contact" OnValidSubmit="AddContact" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Contact.Name" class="form-control" /> 
                <ValidationMessage For="() => Contact.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label> 
                <InputText id="email" @bind-Value="Contact.Email" class="form-control" /> 
                <ValidationMessage For="() => Contact.Email" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="phone" class="form-label">Phone:</label> 
                <InputText id="phone" @bind-Value="Contact.Phone" class="form-control" /> 
                <ValidationMessage For="() => Contact.Phone" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/contacts">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Contact Contact { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddContact()
    {
        using var context = DbFactory.CreateDbContext();
        context.Contact.Add(Contact);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contacts");
    }
}
