@page "/contacts/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorWebApp01.Models
@inject IDbContextFactory<BlazorWebApp01.Data.BlazorWebApp01Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Contact</h2>
<hr />
@if (Contact is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Contact" OnValidSubmit="UpdateContact" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Contact.Id" value="@Contact.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Contact.Name" class="form-control" />
                    <ValidationMessage For="() => Contact.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <InputText id="email" @bind-Value="Contact.Email" class="form-control" />
                    <ValidationMessage For="() => Contact.Email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <InputText id="phone" @bind-Value="Contact.Phone" class="form-control" />
                    <ValidationMessage For="() => Contact.Phone" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/contacts">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Contact? Contact { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Contact ??= await context.Contact.FirstOrDefaultAsync(m => m.Id == Id);

        if (Contact is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateContact()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Contact!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ContactExists(Contact!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/contacts");
    }

    private bool ContactExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Contact.Any(e => e.Id == id);
    }
}
