@page "/components/pages/contacts/details/{id:int}"
@using BlazorWebApp01.Models
@inject ApplicationDbContext DbContext

<PageTitle>Contact Details</PageTitle>

<h3>Contact Details</h3>

@if (contact == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@contact.Name</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@contact.Email</dd>
        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@contact.Phone</dd>
    </dl>
    <a href="/components/pages/contacts/edit/@contact.Id" class="btn btn-primary">Edit</a>
    <a href="/components/pages/contacts/index" class="btn btn-secondary ms-2">Back to List</a>
}

@code {
    [Parameter]
    public int id { get; set; }
    private Contact? contact;

    protected override async Task OnInitializedAsync()
    {
        contact = await DbContext.Contacts.FindAsync(id);
    }
}
